*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Hanken Grotesk', sans-serif;
}

.container{
    height: 450px;
    width: 500px;
    margin: auto;
    margin-top: 130px;
    color: black;
    font-size: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.box1{
    height: 380px;
    width: 270px;
    background-image: linear-gradient(hsl(252, 100%, 67%),hsl(241, 81%, 54%));
    border-radius: 20px;
    display: inline-block;
    color: white;
}

.circle{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-image: linear-gradient(hsla(256, 72%, 46%, 1),hsla(241, 72%, 46%, 0));
    margin-top: 30px;
    margin-left: 55px;
    text-align: center;
    padding-top: 35px;
}

.content{
    height: 150px;
    width: 200px;
    margin: auto;
    text-align: center;
    margin-top: 10px;
}

.title{
    padding-top: 30px;
    text-align: center;
    opacity: .75;
}

.box2{
    height: 380px;
    width: 270px;
    background-color: white;
    display: inline-block;
    margin: auto;
    padding-left: 30px;
}

.grid{
    height: 350px;
    width: 270px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 10px;
}

.col{
    height: 40px;
    width: 230px;
    border-radius: 15px;
    display: flex;
    padding-left: 15px;
    padding-top: 12px;
    gap: 10px;
}

i{
    padding-top: 2px;
}

#one{
    background-color: hsl(0, 100%, 98%);
    color: hsl(0, 100%, 67%);
}

#two{
    background-color: hsl(39, 100%, 97%);
    color:  hsl(39, 100%, 56%);
}

#three{
    background-color:  hsl(167, 53%, 93%);
    color: hsl(166, 100%, 37%);
}

#four{
    background-color:  hsl(240, 26%, 96%);
    color:  hsl(234, 85%, 45%);
}

.continue{
    height: 40px;
    width: 230px;
    border-radius: 20px;
    background-image: linear-gradient(hsl(252, 100%, 67%),hsl(241, 81%, 54%));
    border: none;
    font-size: 15px;
    color: white;
    margin-top: 10px;
    cursor: pointer;
}

.continue:hover {
    background-image: linear-gradient(hsl(253, 64%, 4%),hsl(240, 68%, 9%));
    transition: .5s;
}